# Configuración para el Bot de Telegram (angelruiz.world)
# 100% GRATIS

# 1. Habla con @BotFather en Telegram, escribe /newbot y pega el token aquí:
TELEGRAM_BOT_TOKEN=

# 2. Habla con @userinfobot en Telegram para ver tu Id numérico y pégalo aquí:
TELEGRAM_CHAT_ID=
